body {
    background-color: rgb(10, 0, 4);
    color: rgb(143, 139, 139);
}

a {
    color: white;
    text-decoration: none;
}
h1 {
    font-size: 60x;
    text-align: center;
    border-bottom: 1px solid grey;
    margin: 0;
    padding: 20px;
    color: white;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
body {
    margin: 0;
}


#grid ul {
    border-right: 1px solid grey;
    width: 100px;
    margin: 0;
    padding-top: 20px;
    color: white;
}
@media(max-width:800px) {
    #grid {
        display: block;
    }
    #grid ul {
        border-right: none;
    }
    h1 {
        border-bottom: none;
        color: white;
    }
}
